<body border: 1px solid red;">
    <h4>Acesso Cliente</h4>
    <button class="btn btn-danger btn-block">Cliente</button>
    <h4>Acesso Colaborador</h4>
    <button class="btn btn-warning btn-block">
    <a class="nav-link" asp-area=""  asp-controller="Home" 
    asp-action="LoginColaborador">Colaborador</a>
    </button>
</body>